.container {
    width: 1024px;
    margin: 0 auto;
    line-height: 1.5em;



}

#main-bio {
    float: left;
    width: 70%;


}

#contact-info {
    float: left;
    width: 30%;

}

#bio-image {
    float: left;
    width: 200px;


}

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-style: georgia, "times new roman", times, serif;
    color: #333333;

}

header {
    background-color: #333333;

}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 18px;
    text-align: center;
    margin: 0;

}

h2 {
    font-size: 24px;

}

img {
    margin: 20px;

}

a {
    color: #d21034;
}

a:hover {
    color: black;
}